/*-------------------------------------
  ADAPTIVE
  -------------------------------------*/

  /*Адаптивность*/
  @media (min-width: 1920px) {  
    .page-header-largest {
      padding: 18em 30px 16em;
    }
    #block-left .demi-2.col-middle {
      padding: 200px 100px 200px 20%;
    }  
    #block-right .demi-2.col-middle {
      padding: 200px 20% 200px 100px;
    }
  }
  @media (min-width: 1200px) {  
   /* .cover {
      background-size: contain;
    }*/
  }
  @media (min-width: 768px) and (max-width: 1200px) {
        #showroom {
      padding: 80px 0;
    }
    .contain {
      background-size: cover;
    }
    .navigation ul li a {
      font-size: 1.3rem;
    }

    .img-news {
      height: 150px;
      width: 100%
    }
    #slide-block-lr .col-sm-12 {
      padding-left: 50px;
      padding-right: 50px;
    } 
    .navigation .menu-r ul li {
      margin: -10px 0 10px 10px;
    }
    .couner-item .count-info {
      padding-left: 0
    }
    .couner-item .count,
    .couner-item .count-plus {
      font-size: 6rem
    }
  }
  /* iPad landscape */
  @media (min-width: 992px) and (max-width: 1200px) {

    #showroom .btn-default {
      white-space: normal;
      text-align: left;
      letter-spacing: 0.5px;
    }
    .service .accent-img {
      width: 90px;
      height: 90px;
      background-size: contain; 
    } 
    #block-center br,
    #block-img-bottom br  { 
      display: none 
    }
    #clients {
      height: 140px;
    }
    #block-stat .container {
      padding: 20px 15px;
    } 
    .img-news {
      height: 200px;
      width: 100%
    }
    #widget {
      padding-top: 0;
    }
    #client-comments {
      margin-top: 0
    }
    #block-center, #only-img-bg, .background-fixed, .fullimg, .fixed {
      background-attachment: scroll;
    }
    #photos-left {
      padding: 5em 0 0;
    }  
    #photos-right {
      padding: 3em 0 0;
    }
    #block-right .demi-2.col-middle {
      padding: 50px 70px 62px 50px
    }
    #block-left .demi-2.col-middle {
      padding: 65px 0 60px 75px;
    }
    #block-right p,
    #block-left p {
      line-height: 30px
    }
    #block-right.origin,
    #block-left.origin {
      background-size: cover;
    }
    #block-right.bg_left,
    #block-left.bg_left {
      background-position: bottom;
    }
  }
  /* iPad portail ? */
  @media (min-width: 768px) and (max-width: 991px) {
    .page-header-large {
      padding: 8em 30px 7em
    }
    #sec-instagram span {
      display: block;
      margin-top: 20px;
    }
    #showroom .btn-default {
      white-space: normal;
      text-align: left;
      letter-spacing: 0.5px;
      margin: 0 0 5px;
    }
    #photos-right .mt-sm80 {
      margin-top: 0;
    }
    .couner-item .count-plus {
      font-size: 4rem
    }
    #clients {
      height: 100px;
    }
    #widget {
      padding-top: 0;
    }
    #client-comments {
      margin-top: 0
    }
    br { display: none }
    .prefoot br { display: block; }

    #block-left .demi-2.col-middle,
    #block-right .demi-2.col-middle {
      padding: 60px 40px 50px 40px;
    }
    #block-right .overlay {
      opacity: 1!important;
    }
    #block-right.origin {
      background-size: inherit;
      background-position: bottom;
    }
    #block-right.cover {
      background-size: contain;
      background-position: bottom;
    }
    #accent-pictures .col-sm-6,
    #accent-pictures .col-sm-3 {
      margin-bottom: 60px
    }
    .lenta-img {
      height: 250px;
    }
    .service .accent-img {
      width: 70px;
      height: 70px;
      background-size: contain; 
    } 
    #block-stat {
      padding: 0;
    }
    #block-center .container, #block-img-bottom .container {
      padding: 70px 15px 50px 15px;
    }
    #block-stat .container {
      padding: 55px 15px 20px 15px;
    }
    .hide3 {
      display: none;
    }
    .hide6.hide3 {
      display: block!important;
    }
    .hide6 {
      display: none;
    }
    .couner-item {
      margin-bottom: 0 !important;
    }
    .couner-item .count-info {
      padding-left: 30px;
    }
    #block-center br,
    #block-img-bottom br  { 
      display: none 
    }
    #product p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 5px;
    }
    #block-center h4,
    #block-img-bottom h4 {
      font-size: 16px;
    }
    .accent-block-img {
      height: 300px;
    }
    .accent-block {
      padding-top: 300px;
    }
    .accent-block-text {
      padding: 65px 50px 100px 35px;
      font-size: 18px;
      line-height: 32px;
    }
    #block-center,
    #only-img-bg,
    .background-fixed,
    .fullimg,
    .fixed  {
      background-attachment: scroll;
    }
    .worldmap-table {
      margin: 20px 0;
    }
    .sale-img {
      height: 120px
    }
    .sale-img.origin {
      background-size: contain;
    }
    #sale .sale-item {
      height: 200px;
    }
    #sale .sale-item, #sale .sale-item p {
      font-size: 22px;
      line-height: 28px;
    }
    .couner-item .count-info {
      padding-left: 0;
    }
    .couner-item .title {
      font-size: 1.2rem;
    }
    .couner-item .count {
      font-size: 4rem;
    }
  }
  @media screen and (min-width: 992px) {
    #client-comments .owl-nav .owl-prev,
    #client-comments .owl-nav .owl-next,
    #client-comments .owl-nav .prev,
    #client-comments .owl-nav .next {
      width: 50px;
      height: 68px;
      margin-top: -100px;
    } 
  }
  /* iPad portail */
  @media screen and (max-width:768px) {
    #showroom {
      padding: 80px 0;
    }
    .contain {
      background-size: cover;
    }
    #sec-instagram span {
      display: block;
      margin-top: 20px;
    }
    #photos-left {
      padding: 5em 0 0;
    }  
    #photos-right {
      padding: 1em 0 0;
    }
    #clients .client-carousel .carousel-item img {
      max-width: 200px;
    }
    #clients .client-carousel {
      background-size: 35%;
    }
    #clients {
      height: 170px;
    }
    #slide-block-lr .col-sm-12 {
      padding-left: 50px;
      padding-right: 50px;
    }
    .navigation.scrolled .menu-lr {
      margin-top: 0;
    }
    .img-news {
      height: 150px;
      width: 220px;
    }
    .map-section.style-2 .map-block {
      position: absolute !important;
      margin-top: 0 !important;
    }
    .center-menu {
      background: transparent;
    }
    .navigation.center-menu ul li a {
      font-size: 15px;
      margin-bottom: 10px;
      color: #ccc;
    }
    .navbar-fixed-top.center-menu.scrolled {
      background: transparent;
    }
    .navbar-fixed-top.center-menu.scrolled .navbar-toggle {
      background: rgba(0, 0, 0, 0.7);
      width: 73px;
      height: 69px;
      margin: 0;
    }
    .navbar-fixed-top.center-menu.scrolled.open .navbar-toggle {
      background: transparent;
    }

    .leftright { 
      height: 55px;
      overflow: hidden;
    }
    .leftright .title { 
     display: none;
   }
   .navigation.leftright.open { 
    height: auto;
    background: #fff!important}

    .leftright .navbar-toggle.collapsed .icon-bar {
      background-color: #000;
    }
    .leftright .menu-l,
    .leftright .menu-r {
      width: 40%;
      padding-top: 50px;
    }
    .menu-lr {
      position: absolute;
      top: 5px;
      width: 100%
    }
    .langswitch {
     top: 10px;
   }
   .sticky {
     right: 0;
   }
   .button-chapter {
     font-size: 22px;
     line-height: 24px;
     letter-spacing: 0;
   }
   .btn-check .col-sm-10 label {
     font-size: 14px;
     letter-spacing: 0.02em;
   }
   .page-header-large {
    padding: 9em 30px 6em
  }
  .page-header-large h1 {
   font-size: 42px;
   line-height: 54px;
   letter-spacing: 0.1em;
 }
 .navigation ul {
   padding: 20px 0;
 }
 .navigation ul li a {
   font-size: 1.8rem;
   height: 40px;
   text-align: right
 }
 .navbar-brand {
   padding: 15px 0 30px 15px;
 }
 .navbar-brand img {
   max-height: 60px;
 }
 .scrolled .navbar-brand {
   max-height: 45px
 }
 .scrolled .logo-img {
   max-height: 40px;
 }
 .navbar-toggle {
   display: block;
   z-index: 999
 }
 #two-collum .col-sm-6:nth-child(even) {
  border-top: 1px solid #ccc;
  border-left: none;
  padding-left: 12px;
}
td, th {
  width: 100%!important;
  display: block!important;
}
tfoot tr {
  height: 100px!important;
}
#block-img-bottom.origin { 
  background-size: contain
}
#block-center .btn-primary, 
#block-img-bottom .btn-primary, 
#block-right .btn-primary, 
#block-left .btn-primary {
  font-size: 14px;
  letter-spacing: 0.05em;
}
p {
  font-size: 2rem;
}
.middle {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: .01em;
  margin: 20px 0 40px -1px!important;
}
#block-right h4, #block-left h4 {
  font-size: 16px;
  line-height: 18px;
  margin-top: 20px;
}
#block-right h4 strong, 
#block-left h4 strong,
#two-collum h4 strong {
  display: block;
}
#block-right h4, 
#block-left h4,
#two-collum h4 {
  padding-left: 0!important
}
.lenta-img {
  height: 200px;
}
#block-right .h2.bigh, 
#block-left .h2.bigh, 
.bigh {
  font-size: 36px!important;
  line-height: 42px;
  letter-spacing: .02em!important;
  margin: 20px 0 30px -1px!important;
}
br { display: none }

#accent-pictures .col-sm-3,
#accent-pictures .col-sm-6 {
  margin-bottom: 60px
}
.sale-img {
  height: 120px
}
.sale-img.origin {
  background-size: contain;
}
#sale .sale-item {
  height: 200px;
}
#sale .sale-item, #sale .sale-item p {
  font-size: 22px;
  line-height: 28px;
}
.couner-item .count-info {
  padding-left: 20px;
}
.couner-item .title {
  font-size: 1.2rem;
}
.couner-item .count,
.couner-item .count-plus {
  font-size: 4rem;
}
#block-center br { 
  display: none 
}
#col_3 h3 { 
  margin-top: 30px;
  line-height: 24px!important
}
.fullimg { 
  height:250px!important 
}
.all-caps {
  font-size: 30px;
  margin: 40px 0!important;
  line-height: 40px;
}
.h100,
.h200,
.h300,
.h400,
.h500,
.h600,
.h700,
.h800,
.h900,
.h1000,
.h1100,
.h1200,
.h1300 { height: auto }

#y-maps, .map {
  height: 300px;
}
#contacts {
  padding-top: 50px;
}
#contacts h2, #contacts .h2, #contacts h3, #contacts .h3 {
  margin: 40px 0 10px
}
#product .service {visibility: visible;
  display: block;
  margin: 40px auto;
  padding-left: 24px;
}
#product p, .prod-fulltext p {
  text-align: center;
}
#block-center .h2, #block-center h2 {
  font-size: 28px;
  line-height: 40px;
  font-weight: normal;
  letter-spacing: 0.04em;
  color: #666;
}
.uppercase {
  letter-spacing: .04em!important;
}
.accent-block-img {
  height: 250px;
}
.accent-block {
  padding-top: 250px;
}
.accent-block-text {
  padding: 45px 30px 80px 25px;
  font-size: 18px;
  line-height: 28px;
}
#block-center h4 {
  font-size: 16px;
}
#block-center .container {
  padding: 30px 15px!important;
}
#block-stat {
  padding: 10px 0 0;
}
#block-stat .container {
  padding: 50px 15px 0!important;
}
#block-center .prev p {
  font-size: 16px;
  line-height: 26px;
}
#two-collum h3, #block-center h3 {
  font-size: 20px;
  line-height: 30px;
  padding-left: 0!important;
}

#block-center, 
#only-img-bg, 
.background-fixed, 
.fullimg, 
.fixed  {
  background-attachment: scroll;
}
}

/* iPhone portail */
@media (max-width: 480px) {
  .page-header-large {
    padding: 9em 0 4em;
  }
  .contain {
    background-size: cover;
  }
  #showroom {
    padding: 60px 0;
  }
  #showroom .btn-default {
    padding: 4px 7px;
    font-size: 11px;
    letter-spacing: 0.05em;
  }
  .portfolio-list {
    margin: 30px 0 0 0;
  }
  #photos-right .container {
   padding-bottom: 10px!important
 }

 .layers .layer {
  position: relative;
  max-width: 100%;
  padding-bottom: 25px;
}
#block-right .demi-1,
#block-left .demi-1 {
  float: none;
  width: 100%;
  min-height: 250px;
  padding: 20px 15px;
}
#block-right .demi-2,
#block-left .demi-2 {
  float: none;
  width: 100%;
  padding: 30px 15px;
  background-color: white;
}
#block-right .overlay,
#block-left .overlay {
  opacity: 1!important;
}
#block-right.origin {
  background-size: 150%;
  background-position: left top;
}
#block-left.origin {
  background-size: 150%!important;
  background-position: right top;
}
#block-left .demi-2.col-middle,
#block-right .demi-2.col-middle {
  padding: 30px;
}
#block-right.cover,
#block-left.cover  {
  background-size: contain;
  background-position: top left;
}
#clients .client-carousel {
  background: none;
}
.couner-item .count-plus {
  font-size: 4rem
}
.slider-block-r {
  width: 100%;
  padding: 20px 25px 10px 35px;
}
#slide-block-lr .col-sm-12 {
  padding-left: 50px;
  padding-right: 50px;
}
.menu-lr .navbar-brand img {
  max-width: 175px;
  margin-top: 5px;
}
.leftright .navbar-toggle {
  position: absolute;
  right: 0px;
  width: 25px;
  overflow: hidden;
  margin: 10px 13px;
}
.navigation.leftright ul li a {
  text-align: unset;
}
.navigation.scrolled .menu-lr {
  margin-top: 0;
}
.leftright .menu-l, .leftright .menu-r {
  width: 50%;
  padding-top: 30px;
  float: left;
}
.img-news {
  height: 200px;
  width: 100%;
}
#feedback h2 {
  font-size: 26px;
  letter-spacing: .05em;
}
h5, .h5 {
  font-size: 1.7rem;
}
tr, td { height: auto!important; }
.map-section.style-2 .map-block {
 position: relative !important; 
 margin-top: 0 !important;
}
.page-header-large h1 {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.05em;
}
select.lang-sel {
 font-size: 2rem;
 line-height: 12px;
}
.sticky {
 margin-right: 0!important;
}
.btn-check .col-sm-10 label {
 width: 48%;
}
.button-chapter {
 text-align: center;
 margin: 15px 0 10px;
}
.home-slider .slide .content .display-tc, 
.home-text-rotate .slide .content .display-tc {
 padding: 70px 25px 0 25px;
}
.home-slider .slide .content .display-tc {
  padding: 0;
  letter-spacing: .01em;
}
.page-header-large {
 padding: 10.455em 0 6.455em;
 min-height: 200px;
}
.middle-header, .middle-header p {
 font-size: 42px;
 line-height: 54px;
 margin-bottom: 20px;
}
.logo {
 width: 240px;
 top: 10px;
 margin-left: -120px;
}
.langswitch {
 font-size: 16px;
 left: 0;
 top: 10px;
}
/*Прайс*/
.td-price {
 height: auto;
 line-height: inherit;
 padding-top: 20px;
}
.td-chapter {
 display: none;
}
.td-price .choice-opt, 
.td-price .eco-opt {
 width: 5%;
 float: left;
 margin-right: 20px;
 line-height: inherit;
}
.td-price .eco-opt {    
 width: auto;
 margin-left: 70px;
 text-align: center;
}
.td-price .col-sm-8 {
 width: 85%;
 float: left;
 margin-bottom: 20px;
}
.td-select { margin-left: 0 }
.td-price .prix {
 text-align: right;
 width: 140px;
 float: right;
 margin-right: 5px;
}
.price-resultat .col-sm-2 {
 width: 5%;
 float: left;
 margin-right: 20px;
}
.price-resultat .col-sm-8 {
 width: 80%;
 float: left;
}
#total {
 width: 100%;
 text-align: center;
 margin-top: 50px;
 font-size: 48px;
 line-height: 70px;
 height: 60px;
}
#widget {
  padding-top: 0;
}
.couner-item .count-info {
  padding-left: 0;
}
#client-comments .client-comment.left,
#client-comments .client-comment.right {
  text-align: left;
  padding: 0 10px 0;
}
#client-comments .client-comment.left p,
#client-comments .client-comment.right p {
  line-height: 1.4;
}
#client-comments {
  background: url(../img/quote.png) no-repeat top;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.btn, .button {
  margin-bottom: 40px;
}
p {
  font-size: 2.5rem;
}
#page-standart .h2.bigh, 
#page-standart .h2.middle {
  margin: 0 0 30px 0!important;
  font-size: 32px!important;
}
#page-standart {
  padding: 0 0 20px;
}
#page-standart p {
  font-size: 2rem
}

#page-standart img {
  float: none;
  max-width: 100%;
  margin: 0 0 40px 0;
}
#block-center .container {
  padding: 15px 15px 0!important;
}
#two-collum.page-section {
  padding-top: 0;
  padding-bottom: 0;
}
#two-collum .col-sm-6:nth-child(even) {
  border-top: none;
  border-left: none;
  padding-left: 15px;
}
#two-collum .col-sm-6:last-child {
  border-left: none;
  padding-left: 15px;
}
#two-collum .col-sm-6 {
  padding-top: 10px;
} 
#two-collum .col-sm-6 p {
  padding-left: 0!important;
}
#two-collum br {
  display: block;
}
}
/* Salvator */
@media screen and (min-width: 1px) and (max-width: 767px){
  #columns[data-columns]::before {
   content: '1 .col-xs-12';
 }
}
@media screen and (min-width:768px) and (max-width: 991px){
  #columns[data-columns]::before {
   content: '2 .col-sm-6';
 }
}
@media screen and (min-width:992px) and (max-width: 9999px){
  #columns[data-columns]::before {
   content: '2 .col-md-6';
 }
}